*{
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: "MuseoSans";
  src: url("font/museosans.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaPT";
  src: url("font/FuturaPT.otf") format("opentype");
}

body, html{
  width: 100%;
  height: 100%;
  background-color: #003a44;
}

header{
  height: 25px;
  padding: 30px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: MuseoSans;
  font-size: 22px;
  letter-spacing: 3px;
  background: rgba(0, 0, 0, .3);
}

header div#user{
  float: left;
  position: absolute;
}

header div#user span{
  padding-top: 4px;
  letter-spacing: 0;
  font-size: 16px;
  display: block;
}

header div#return{
  position:absolute;
  right: 0;
  top: -4px;
}
header div#return button{
  padding: 8px 18px;
  margin: 0 120px 0 0;
  font-family: MuseoSans;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background: #003a44;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

header div#return button:hover{
  background: #ffffff;
  color: #003a44;
}

header div#logout{
  position: absolute;
  right: 0;
  top: -4px;
}
header div#logout button{
  padding: 8px 18px;
  font-family: MuseoSans;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background: #003a44;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

header div#logout button:hover{
  background: #ffffff;
  color: #003a44;
}

div#content{
  width: 1024px;
  margin: 0 auto;
  position: relative;
  
}

div#form{
  width: 970px;
  height: 800px;
  position: fixed;
  top:45%;
  left:40%;
  margin-top: -220px;
  margin-left: -242.5px;
}

div#form form#newCall{
  width: 650px;
  height: 530px;
  background: #c2dde4;
  border-radius: 80px 0 80px 0;
  padding: 30px 50px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}

div#form form span.title{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: MuseoSans;
  font-size: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: #06565b;
  letter-spacing: 1px;
  
}

div#form form div#line{
  margin-bottom: 10px;
  display: flex;
}

div#form form div#collum{
  width: 325px;
  margin-right: 10px;
}

div#form form div#line label{
  margin-bottom: 5px;
  font-family: FuturaPT;
  font-size: 18px;
  display: block;
  color: #06565b;
}

div#form form div#line input{
  font-family: FuturaPT;
  font-size: 16px;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 10px;
  width: calc(95% - 16px);
  height: 10px;
  padding: 10px 6px;
  margin-bottom: 10px;

}

div#form form div#lineText{
  width: 657px;
  margin-bottom: 10px;
  display: flex;
}

div#form form div#lineText label{
  margin-bottom: 5px;
  font-family: FuturaPT;
  font-size: 18px;
  color: #06565b;
}

div#form form div#lineText textarea{
  resize: none;
  flex-direction:column;
  font-family: FuturaPT;
  font-size: 16px;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 10px;
  width: calc(95% - 16px);
  height: 70px;
  padding: 10px 6px;
  margin: 5px 0 10px 0;

}

div#buttons{
  display: inline-flex;
}

div#form form div#button button{
  margin: 0 30px 0 100px;
  padding: 12px 20px;
  font-family: MuseoSans;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c2dde4;
  background: #003a44;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
}

div#form form div#button button:hover{
  background: #06565b;
}

div#btnCancel input{
  padding: 9px 16px;
  font-family: MuseoSans;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #003a44;
  background: #c2dde4;
  border: solid;
  border-color:#003a44;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
}

div#btnCancel input:hover{
  color: #ffffff;
  background: #06565b;
  border-color:#06565b;
}
